# This workflow will do a clean installation of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-nodejs

name: Generate data

on:
  #schedule:
  #  - cron: "0 * * * *"    # every hour (UTC)
  workflow_dispatch: {}    # allow manual run

jobs:
  build-data:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Generate data
      run: |
        python3 scripts/generate_data.py
    - name: Commit and push changes
      run: |
        git config --global user.name 'github-actions[bot]'
        git config --global user.email 'github-actions[bot]@users.noreply.github.com'
        git add data/
        git commit -m 'Update generated data' || echo "No changes to commit"
        git push origin HEAD:${{ github.ref }}

  build-ui:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Use Node.js 24
      uses: actions/setup-node@v4
      with:
        node-version: 24
        cache: 'npm'
    - run: npm ci
    - run: npm run build
